body {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: circle;
}
/* #leftRow { font-size: 40px;
color: orange;
}
#rightRow { font-size: 40px;
    color: red;
    } */
#topline {
    display: inline-block;
    width: 400px;
}
#toplineimg {
    float: left;
    margin-right: 10px;
}
header {
    font-family: "Brush Script MT", cursive; font-size: 34px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Brush Script MT", cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Brush Script MT", cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Brush Script MT", cursive; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Brush Script MT", cursive; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; 
    }

#header {
    border-bottom:ridge grey;
    margin: 30px 0px 40px 0px;
    /* border-image: url("https://cdn.pixabay.com/photo/2017/07/08/11/33/white-2484120_960_720.png")
    11 11 11 11 repeat; */
}
#print {
    float: right;
}
#mainimg {
    width: 99%;
    text-align: center;
    display: inline-block;
}
h3, p {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 45px;
    font-weight: bold;
}
#icons {
    text-align: right;
    float: right;
}

#ingredients {
    height: 220px;
    width: auto;
    position: relative;
    text-align: center;
    border-bottom: dashed grey;
    margin: 20px 0px 40px 0px;
    padding-bottom: 40px;
}
#leftRow{
    margin-left: 30px;
    margin-top: 30px;
position: absolute;
  top: 8px;
  left: 16px;
}
#rightRow{
    margin-right: 30px;
    margin-top: 30px;
    position: absolute;
  top: 8px;
  right: 16px;
}
#bottomline {
    display: inline-block;
    width: 99%;
    color: grey;
}
#bottomline, h1 {
    font-size: large;
}
#bottomline, p {
    width: 99%
}
#bottomlineimg {
    float: left;
}
#button {
    float: right;
    background-color: rgb(204, 129, 121);
    color: white;
}
#bottomimg {
    margin-top: 30px;
}
#fork {
    border-bottom: solid;
    width: 99%;
    border-color: grey;
    text-align: center;
    height: 50px;
}
#footer {
    text-align: center;
    width: 99%;
    color: lightgray;
}